<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Ventana emergente jQuery animado</title>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
   <script src="/resources/demos/external/jquery.bgiframe-2.1.2.js"></script>
   <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
   <link rel="stylesheet" href="http://www.proyectosbds.com/html/css/layout.css" />
   
   <script>
    function abrir_dialog() {
      $( "#dialog" ).dialog({
          show: "blind",
          hide: "explode"
      });
    };
   </script>
  
   <script>  
    function btn_cancelar() {
      $( "#dialog" ).dialog( "close" );
    };
   </script>
  
   <script> 
  	function btn_onclick() { 
		var lcGrupo;	
		var elegidos = ''
		
		for (var i=0;i<elegirGrupos.length;i++){ 
			if(elegirGrupos.options[i].selected){  
				lcGrupo = elegirGrupos.options[i].text;
				elegidos+=lcGrupo+",";
			}
		}
		lElegidos = elegidos.split(',')
		lElegidos.pop()
		document.contactos.listas.value = lElegidos
		$( "#dialog" ).dialog( "close" );
	}
	</script>
	
</head>
<body style="background:#E5E5E5">
<form action="/guardarContacto" method="post" name="contactos">
	ID:<br>
	<input type="text" name="id" /><br>
	
	Nombre:<br>
	<input type="text" name="nombre" /><br>

	Apellido:<br>
	<input type="text" name="apellido" /><br>

	Telefono:<br>
	<input type="number" name="telefono" /><br>

	email:<br>
	<input type="email" name="email"/><br>

	tuiter:<br>
	<input type="text" name="tuiter" /><br>

	Listas:</br>
	<input type="text" name="listas" />
	<input type="button" name="unBoton" value="Listas" onclick="abrir_dialog()" />
	</BR></br>
	
	<input type="submit" name="guardarContacto" value='Guardar'/>
	<input type="reset" name="deshacer" value="Deshacer" />
	
</form>

<div id="dialog" title="Listado de Grupos" style="display:none;">
	<p>Seleccione el Grupo.</p>
	<form name='lgrupos'>
		<select name="elegirGrupos" id="elegirGrupos" size="5" multiple> 
			<option value="Hospital Coromoto">Hospital Coromoto</option>
			<option value="Fuerza Roja">Fuerza Roja</option>
			<option value="Personal">Personal</option>
		</select></br>
		<input id=btnAceptar name=btnAceptar type=button value="Aceptar" onclick="btn_onclick()">
		<input id=btnCancelar name=btnCancelar type=button value="Cancelar" onclick="btn_cancelar()">
	</form>
</div>
</body>
</html>