<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title></title>
</head>
<body>
<form action="/guardarContacto" method="post" target="_parent">
ID:<br>
<input type="text" name="id" /><br>

Nombre:<br>
<input type="text" name="nombre" /><br>

Apellido:<br>
<input type="text" name="apellido" /><br>

Telefono:<br>
<input type="number" name="telefono" /><br>

email:<br>
<input type="email" name="email"/><br>

tuiter:<br>
<input type="text" name="tuiter" /><br>

<form action="/mostrarListas" method="get" target="_parent">
Detalles del Grupo:<br>
<input type="text" name="listas" /><input type="button" name="irListas" value="Agregar a Grupos" /><br>
<!-- <select name="agregarGrupo" multiple="multiple">
<option value="Hospital Coromoto">Hospital Coromoto</option>
<option value="Fuerza Roja">Fuerza Roja</option>
</select> -->
</form>
</br>

<input type="submit" name="guardarContacto" value='Guardar' />
<input type="reset" name="deshacer" value="Deshacer" />
</form>
</body>
</html>