<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/style2.css">
<link href='http://fonts.googleapis.com/css?family=Cabin+Condensed:400,500,600,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Capriola' rel='stylesheet' type='text/css'>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="js/contador.js" ></script>
<title>PyLoroWeb SMS</title>

	<script>
    function listarGrupos() {
      $( "#dialog" ).dialog({
          show: "blind",
          hide: "explode"
      });
    };
	</script>
  
   <script>  
    function btnCancelarListarGrupos() {
      $( "#dialog" ).dialog( "close" );
    };
   </script>
  
   <script> 
  	function btnAceptarListarGrupos() { 
		var lcGrupo;	
		var elegidos = ''
		for (var i=0;i<elegirGrupos.length;i++){ 
			if(elegirGrupos.options[i].selected){  
				lcGrupo = elegirGrupos.options[i].text;
				elegidos+=lcGrupo+",";
			}
		}
		lElegidos = elegidos.split(',');
		lElegidos.pop();
		<!-- document.contactos.grupos.value = lElegidos -->
		document.getElementById('grupos').value = lElegidos;
		$( "#dialog" ).dialog( "close" );
	}
	</script>
</head>

<body>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
        <div class="row">
        <div class="col-xs-6" ></div>
        </div>
		  <div class="panel panel-personal">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Envio de SMS  <span class="Three-Dee pull-right" >PyLoroWeb</span></h3>
			 	</div>
			  	<div class="panel-body">
<form action="/contactoNuevo" method="post" name="contactos">
	<div class="input-group form-group">
	<span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
	<input class="form-control" type="text" name="id" /><br/>
	</div>
	
	<div class="input-group form-group">
	<span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>	
	<input class="form-control" type="text" name="nombres" required="required"/><br/>
	</div>
	
	Apellido:
	<input class="form-control" type="text" name="apellidos" /><br/>

	Telefono:
	<input class="form-control" type="number" name="telefono" required="required" pattern="[0-9]{11}" maxlength="11" /><br/>

	email:
	<input class="form-control" type="email" name="email" /><br/>

	tuiter:
	<input class="form-control" type="text" name="tuiter" /><br/>

	Grupos:
	<input type="text" id="grupos" name="grupos" />
	
	<input type="button" name="btnListarGrupos" value="Grupos" onclick="listarGrupos()" />
	
		
	<div class="col-xs-12 margin-abajo">
	<input class="btn btn-personal" type="submit" name="guardarContacto" value='Guardar'/>
	<input class="btn btn-personal" type="reset" name="deshacer" value="Limpiar" />
	<a href="/smsenviar" class="align-vertical btn btn-personal">Regresar</a>
	</div>
	
</form>			  			    	                    
           	</div>
			</div>
		</div>
	</div>
</div>
<div id="dialog" title="Listado de Grupos" style="display:none;">
	<p>Seleccione el Grupo.</p>
	<form name='lgrupos'>
		<select name="elegirGrupos" id="elegirGrupos" size="5" multiple> 
			%for fila in comboBoxGrupos:
         	<option>{{fila}}</option> 
         %end
		</select><br/>
		<input id=btnAceptar name=btnAceptar type=button value="Aceptar" onclick="btnAceptarListarGrupos()">
		<input id=btnCancelar name=btnCancelar type=button value="Cancelar" onclick="btnCancelarListarGrupos()">
		
	</form>
</div>
</body>
</html>
