<div id="mostrar">
    <div class="jumbotron">
      <div class="container">
        <h1>PyLoro SMS</h1>
        <p>PyLoro SMS es una herramienta Web que te permite gestionar de manera facil el envio de Mensjes de Texto SMS a moviles en Venezuela, ahora puedes gestionar tus contactos, grupos o enviar directamente un SMS con tan solo escribir el numero de telefono.
        Promociona tu negocio, eventos, fiestas, reunión, cumpleaños y otras actividades de manera rápida y efectiva.</p>
        <p><a id="aprendeMas" href="#" class="btn btn-primary btn-lg">Aprende mas &raquo;</a></p>
      </div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-3">
          <h2>Envias SMS</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
          <p><a class="btn btn-default" href="#">Ver detalle &raquo;</a></p>
        </div>
        <div class="col-lg-3">
          <h2>Contactos</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
          <p><a class="btn btn-default" href="#">Ver detalle &raquo;</a></p>
        </div>
        <div class="col-lg-3">
          <h2>Grupos</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#">Ver detalle &raquo;</a></p>
        </div>
        <div class="col-lg-3">
          <h2>Desarrolladores</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
          <p><a class="btn btn-default" href="#">Ver detalle &raquo;</a></p>
        </div>
      </div>
      <hr>
      <footer>
        <p>&copy; Company 2013</p>
      </footer>
    </div>
    <!-- /container -->
</div>
