<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Lista de Contactos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="cgarcia" >
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	 <link rel="stylesheet" href="/static/css/bootstrap.min.css">
	 <link rel="stylesheet" href="/static/css/style2.css">
	 <link href="/static/font-awesome-4.0.3/css/font-awesome.css" rel="stylesheet">  
    <style>
        body {
            padding-top: 60px;
        }
    </style>
	<script type="text/javascript">
	window.onload = function() {
    if (!document.getElementsByTagName || !document.createTextNode) return;
    <!-- var rows = document.getElementById('tabla_uno').getElementsByTagName('tbody')[0].getElementsByTagName('tr'); -->
    var rows = document.getElementsByTagName('tr');
	 <!-- alert(rows.length); -->
    
    for (i = 0; i < rows.length; i++) {
        rows[i].onclick = function() {
            <!-- alert(this.rowIndex + 1); -->
				var seleccionado = this.rowIndex;
				var contactosID = rows[seleccionado].cells[2].innerHTML
  	 			alert("Se Selecciono: "+contactosID);
  	 			
				
      	}
   	}
	}
	</script>    
</head>
<div class="container">
   <div class="row">
	
    	<div class="panel panel-personal">
			<div class="panel-heading">
				<h3 class="panel-title">Lista de Contactos<span class="Three-Dee pull-right" >PyLoroWeb</span></h3>
			</div>
				<button type="button" class="btn btn-labeled btn-warning">
                <span class="btn-label">
                	<i class="fa fa-file-o"></i>
                </span>Nuevo
				</button>
				
				<button type="button" class="btn btn-labeled btn-warning">
                <span class="btn-label">
                	<i class="fa fa-trash-o"></i>
                </span>Eliminar
				</button>			

				<button type="button" class="btn btn-labeled btn-warning">
                <span class="btn-label">
                	<i class="fa fa-edit"></i>
                </span>Modificar
				</button>
				<br/>		
			<div class="table-responsive">
			<br/>            
         	<table id="tabla_uno" rules="rows" style="cursor: pointer;" class="table table-bordered  table-striped  table-hover  table-condensed table-scrollable">
                <thead>
            		<tr class="warning">
            			<th>#</th>
							%for f in cabecera:                  	
                  		<th>{{f}}</th>
                  	%end
                	</tr>
                </thead>                
            	<tbody>           		
						%for fila in grid:
							<tr>
								<td><input type="checkbox" id="{{fila[1]}}" Seleccionar/></td>
								%for col in fila:
									<td >{{col}}</td>
								%end
							</tr>
						%end                
                </tbody>
            </table>
            </div>
    	</div>
	<!-- aqui estaba -->
  	</div>
</div>
</html>