<!DOCTYPE html>

<html>
  <head>
    <title>Pyloroweb SMS</title>
    <meta name="viewport" content="width=device-width">


	<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

	<script type="text/javascript">
        $(document).ready(function() {
             $('#menuPrincipal').load('/cargarMenuPrincipal');
             document.getElementById('vinculoEnviarSMS').href="/smsenviar";
              /** work when all HTML loaded except images and DOM is ready **/
                // your code
        })

        window.onload = function(){
            alert('Hola')
            document.getElementById('aprendeMas').href="/smsenviar";

            //Le asigno una funcion al evento submit del formulario
            //document.getElementById("buscarCarnet").onsubmit = submitDelForm;
            //alert('onload')

            //Le asigno una funcion al evento click del boton
            //document.getElementById("formImprimirDelante").action="/delante";
            //document.getElementById("formImprimirDelante").method="POST";
            //document.getElementById("BotonDelante").type="submit";
            //document.getElementById("BotonDelante").onsubmit = clicBotonDelante;

            //Le asigno una funcion al evento click del boton
            //document.getElementById("BotonDetras").onclick = clicBotonDetras;

            //Le asigno una funcion la image donde va la foto
            //document.getElementById("foto").onclick = clicEnFoto;

            //Inicializar los campos segun lo que se le pase desde python
            //actualizarCampos();

            //Evento que se ejecuta cuando selecciono un archivo de la foto
            //document.getElementById("archivoSeleccionado").onchange = clicEnSeleccionArchivo;
	    }

        function submitDelForm(){
            /*Este Metodo permite validar
            que un usuario no le de
            clic en el boton buscar sin
            tener ningun parametro de busqueda */

            var nficha = document.getElementById('ficha').value;
            var ncedula = document.getElementById('cedula').value;

            if (nficha.length == 0 && ncedula == 0){
                alert('Ficha o Cedula debe contener datos');
                return false;
            }
            else{
                return true;
            }
         }

        function clicBotonModalCerrar(){
            //alert('Hola');
        }

        function clicEnSeleccionArchivo(){
            var rutaImg = document.getElementById("archivoSeleccionado").value;
            var fic = rutaImg.split('\\');
            nombreArchivo = fic[fic.length-1];
        }

        function clicEnFoto(){
            $("#editarFoto").modal('show');
        }

        function actualizarCampos(){
            document.getElementById("foto").src="{{get('foto', '/static/file/img/placeholder-100x100.gif')}}"
            document.getElementById('ficha').value="{{get('ficha', '')}}"
            document.getElementById('ficha2').value="{{get('ficha', '')}}"
            document.getElementById('cedula').value="{{get('cedula', '')}}"
            document.getElementById('cedula2').value="{{get('cedula', '')}}"
            document.getElementById('nombre2').value="{{get('nombre', '')}}"
            document.getElementById('apellido').value="{{get('apellido', '')}}"
            document.getElementById('cargo').value="{{get('cargo', '')}}"
            document.getElementById('departamento').value="{{get('departamento', '')}}"
        }

        function clicBotonDelante(){
            var nficha = document.getElementById('ficha2').value;
                if (nficha.length == 0 || nficha == '00000'){
                    alert('Ficha y Cedula debe contener datos')
                    var enlace3 = document.getElementById('BotonDelante').href='/empleados'
                }
                else{
                var enlaceNuevo = "/delante/"+nficha

                    //Abre el enlace en una nueva pagina
                var enlace2 = document.getElementById('BotonDelante').target="_blank"

                //Cambia el Enlace a la nueva ficha
                var enlace3 = document.getElementById('BotonDelante').href=enlaceNuevo
            }
        }

        function clicBotonDetras(){
            var nficha = document.getElementById('ficha2').value;
                if (nficha.length == 0 || nficha == '00000'){
                    alert('Ficha y Cedula debe contener datos')
                    var enlace3 = document.getElementById('BotonDetras').href='/empleados'
                }
                else{
                var enlaceNuevo = "/detras/"+nficha

                    //Abre el enlace en una nueva pagina
                var enlace2 = document.getElementById('BotonDetras').target="_blank"

                //Cambia el Enlace a la nueva ficha
                var enlace3 = document.getElementById('BotonDetras').href=enlaceNuevo
            }
        }
	</script>

	<!-- Cambiarle el Color a la cabecera del Panel a ROJO -->
	<style type="text/css">
		.panel-default > .panel-heading {
		color: #FFFFFF;
  		background-color: #AF1515;
  		border-color: #AF1515;
		}

		.modal-content > .modal-header {
		color: #FFFFFF;
  		background-color: #AF1515;
  		border-color: #AF1515;
		}
	</style>

  </head>

  <body>
<!-- Comienza El Marco del Menu-->
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">pyLoroWeb SMS</a>
        </div>
        <!-- Comienza La Barra de navegacion-->
        <div class="navbar-collapse collapse">
          <!-- Aqui Comienza el Menu-->
          <div id="menuPrincipal">
            <!--Este menu se carga desde javascript -->
          </div>
          <!-- Aqui Termina el Menu-->

          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Iniciar Sesion</button>
          </form>
        </div>
        <!-- Aqui Termina la Barra de Navegacion como tal-->
        <!--/.navbar-collapse -->
      </div>
    </div>
    <!-- Termina el Marco del Menu-->

    <!-- Comienza carrusel-->
    <div id="miCarrusel" class="carousel slide" data-ride="carousel" data-interval="3000">
      <!-- indicadores de elementos -->
      <ol class="carousel-indicators">
        <li data-target="#miCarrusel" data-slide-to="0"></li>
        <li data-target="#miCarrusel" data-slide-to="1" class="active"></li>
        <li data-target="#miCarrusel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Carrusel elementos (items) -->
        <div class="item">
            <!--<img src="http://lorempixel.com/800/600/animals" alt>-->
          <div class="carousel-caption">
            <h4>Primera etiqueta de miniatura de imagen (thumbnail)</h4>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
        </div>
        <div class="item">
            <!--<img src="http://lorempixel.com/1200/780/sports" alt>-->
          <div class="carousel-caption">
            <h4>Segunda etiqueta de miniatura de imagen (thumbnail)</h4>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
        </div>
        <div class="item active">
            <!--<img src="http://lorempixel.com/1200/780/technics" alt>-->
          <div class="carousel-caption">
            <h4>Tercera etiqueta de miniatura de imagen (thumbnail)</h4>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
        </div>
      </div>
      <!-- cierre carousel-inner-->
      <!-- Carrusel navegación -->
      <a class="left carousel-control" href="#miCarrusel" role="button" data-slide="prev">      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>      <span class="sr-only">Anterior</span>    </a><a class="right carousel-control" href="#miCarrusel" role="button" data-slide="next">      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>      <span class="sr-only">Siguiente</span>    </a>
    </div>
    <!-- cierre miCarrusel-->
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>PyLoro SMS</h1>
        <p>PyLoro SMS es una herramienta Web que te permite gestionar de manera facil el envio de Mensjes de Texto SMS a moviles en Venezuela, ahora puedes gestionar tus contactos, grupos o enviar directamente un SMS con tan solo escribir el numero de telefono.
        Promociona tu negocio, eventos, fiestas, reunión, cumpleaños y otras actividades de manera rápida y efectiva.</p>
        <p><a id="aprendeMas" href="#" class="btn btn-primary btn-lg">Aprende mas &raquo;</a></p>
      </div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-3">
          <h2>Envias SMS</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
          <p><a class="btn btn-default" href="#">Ver detalle &raquo;</a></p>
        </div>
        <div class="col-lg-3">
          <h2>Contactos</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
          <p><a class="btn btn-default" href="#">Ver detalle &raquo;</a></p>
        </div>
        <div class="col-lg-3">
          <h2>Grupos</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#">Ver detalle &raquo;</a></p>
        </div>
        <div class="col-lg-3">
          <h2>Desarrolladores</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
          <p><a class="btn btn-default" href="#">Ver detalle &raquo;</a></p>
        </div>
      </div>
      <hr>
      <footer>
        <p>&copy; Company 2013</p>
      </footer>
    </div>
    <!-- /container -->
  </body>

</html>
