<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>pyLoroWeb SMS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body{margin-top:50px;}
.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }    </style>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="accordion">
<!--  -->
		  			<div class="panel panel-default">
            		<div class="panel-heading">
            			<h4 class="panel-title">
               			<a data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-folder-close">
                  		</span><a href="/">Inicio</a></a>
               		</h4>
            		</div>
            	</div>           
<!--  -->
		  			<div class="panel panel-default">
            		<div class="panel-heading">
            			<h4 class="panel-title">
               			<a data-toggle="collapse" data-parent="#accordion" href="#login"><span class="glyphicon glyphicon-folder-close">
                  		</span>Login</a>
               		</h4>
            		</div>
            
            		<div id="login" class="panel-collapse collapse in">
            			<div class="panel-body">
            				<table class="table">
            					<tr>
               					<td>
                  					<span class="glyphicon glyphicon-pencil text-primary"></span><a href="/login">Iniciar Sesion</a>
                  				</td>
               				</tr>
            				</table>
            			</div>
            		</div>
        			</div>
<!--  -->            
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne1"><span class="glyphicon glyphicon-folder-close">
                            </span>SMS</a>
                        </h4>
                    </div>
                    <div id="collapseOne1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a href="/smsenviar">Enviar SMS</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-flash text-success"></span><a href="#">Planificar SMS</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file text-info"></span><a href="#">Noticias</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-comment text-success"></span><a href="#">Borradores</a>
                                        <span class="badge">42</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                            </span>Mantenimiento</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="/contactoNuevo">Contactos</a> <span class="label label-success">$ 320</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="/grupoNuevo">Grupos</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">Otras</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">Otras 2</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">
                            </span>Cuenta</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="#">Cambiar Clave</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">Notificaciones</a> <span class="label label-info">5</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="/registro">Crear Cuenta</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-trash text-danger"></span><a href="#" class="text-danger">
                                            Eliminar Cuenta</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
                            </span>Reportes</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-usd"></span><a href="#">Vacio</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-user"></span><a href="#">Vacio</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-tasks"></span><a href="#">Vacio</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-shopping-cart"></span><a href="#">Vacio</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
<div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <span class="glyphicon glyphicon-user"></span><a href="/salir">Cerrar Sesion:{{get('usuario', '')}}</a>
                        </h4>
                    </div>
                    
</div>                
            </div>
        </div>
        <div class="col-sm-9 col-md-9">
            <div class="well">
                <h1>
                    PyLoroWeb SMS</h1>
                Sistema de envio de Mensajes de Texto
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
</script>
</body>
</html>
