<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title></title>
</head>
<body>
<FORM action="/prueba" method="post">
   <P>
   <!-- <OPTION selected value="Componente_1_a">Componente_1</OPTION>-->
   <SELECT multiple size="8" name="elegir-componente">
		%lista = ['Componente 1', 'Componente 2', 'Componente 3', 'Componente 4', 'Componente 5', 'Componente 6', 'Componente 7']		
		%for fila in lista:
			<OPTION>{{fila}}</OPTION>	
		%end
   </SELECT><br>
   <INPUT type="submit" value="Enviar"><INPUT type="reset">
   </P>
</FORM>
</body>
</html>
