<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title></title>
</head>
<body>
<form action="registro" method="post" id="registro">

ID:
<input type="text" name="id" id="id" /><br/>

Nombre de Usuario:
<input type="text" name="usuario" id="usuario"/>
<br/>

Contraseña:
<input type="password" name="clave" id="clave"/><br/>

Confirmar Contraseña:
<input type="password" name="clave2" id="clave2"/><br/>

Descripcion:
<input type="text" name="descripcion" id="descripcion"/>
<br/>

Ced/Rif:
<input type="text" name="cedrif" id="cedrif"/><br/>

Fecha:
<input type="text" name="fecha" id="fecha"/><br/>

Direccion:
<input type="text" name="direccion" id="direccion"/><br/>

Telefono:
<input type="text" name="telefono" id="telefono"/><br/>

Email:
<input type="email" name="email" id="email"/><br/>

Plan:
<input type="text" name="plan" value="Free" id="plan"/>
<input type="button" name="btnListarGrupos" value="Planes" onclick="listarGrupos()"/>
<br/>

Estructura Organizativa:
<input type="text" name="estructura" id="estructura" readonly value={{estructuraOrganizativa}} /><br/>

Activo:
<input type="checkbox" name="Activar" checked="checked" id="activo" />

<br/>
<input type="submit" name="Guardar" value="Guardar" id="btnGuardar"/>
<input type="reset" name="Cancelar" value ="Cancelar" id="btnGuardar"/>

</form>
</body>
</html>