<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title></title>
</head>
<body>
<FORM action="/contactos" method="post">
	<table>
	<tr>
	<td colspan="2" align="right" valign="baseline" >
	<SELECT name="ocupación">
		<OPTION VALUE="profesor">Profesor</OPTION>
		<OPTION VALUE="estudiante">Estudiante</OPTION>
		<OPTION VALUE="ingeniero">Ingeniero</OPTION>
		<OPTION VALUE="jubilado">Jubilado</OPTION>
		<OPTION VALUE="otro">Otro</OPTION>
	</SELECT>	
   </td>
   </tr>
	<tr>	   
   <td align="left"><INPUT type="submit" value="Aceptar"></td>  
	<td align="right"><INPUT type="reset"></td>
   </tr>
   </table>
</FORM>
<FORM action="/contactos" method="post">
	<table>
	<tr>
	<td colspan="2" align="right" valign="baseline" >
	<SELECT name="ocupación">
		<OPTION VALUE="profesor">Profesor</OPTION>
		<OPTION VALUE="estudiante">Estudiante</OPTION>
		<OPTION VALUE="ingeniero">Ingeniero</OPTION>
		<OPTION VALUE="jubilado">Jubilado</OPTION>
		<OPTION VALUE="otro">Otro</OPTION>
	</SELECT>	
   </td>
   </tr>
	<tr>	   
   <td align="left"><INPUT type="submit" value="Aceptar"></td>  
	<td align="right"><INPUT type="reset"></td>
   </tr>
   </table>
</FORM>
</body>
</html>